.arrow-pointer {
    position: relative;
    display: block;
    margin-left: 0px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.editor-tools-wrapper {
    position: fixed;
    /*top: 0;*/
    /*left: 0;*/
    visibility: hidden;
    opacity: 0;
    // transition: opacity .15s ease-in-out;
    // -moz-transition: opacity .15s ease-in-out;
    // -webkit-transition: opacity .15s ease-in-out;
    z-index: $zEditingTools;

    .editor-tools-container {
        list-style-type: none;
        margin: 0;
        padding: 0;

        > li {
            float: left;

            > button {
                margin: 0;
                padding: 2px 6px;
                float: left;
                font-size: 1em;
                border: none;
                border-top: 1px solid #999;
                border-right: 1px solid #999;
                border-bottom: 1px solid #999;
                color: #000;
                background-color: #eee;
            }
        }
    }
}

.editor-tools-wrapper > .buttons-wrapper {
    position: relative;
    // background-color: yellow;
    width: 100%;
}

.editor-tools-container > li:first-child > button { border-left: 1px solid #999; }
.editor-tools-container > li > button:hover,
.editor-tools-container > li > button.is-selected {
    color: #000;
    background-color: #ccc;
}
.editor-tools-container > li > button:active {
    color: #000;
    background-color: #bbb;
}

.buttons-wrapper .color-menu,
.buttons-wrapper .paragraph-menu {
    position: absolute;
    margin: 0;
    padding: 4px;
    border: 1px solid #aaa;
    background-color: white;
    display: inline-block;
    // visibility: hidden;
    // opacity: 0;
    // transition: opacity .15s ease-in-out;
    // -moz-transition: opacity .15s ease-in-out;
    // -webkit-transition: opacity .15s ease-in-out;
}

.buttons-wrapper > .color-menu .sub-menu-container {
    // background-color: magenta;
    padding: 2px;
    -webkit-overflow-scrolling: touch;
}
.buttons-wrapper > .color-menu .sub-menu-container:before,
.buttons-wrapper > .color-menu .sub-menu-container:after {
    content: "";
    display: table;
}
.buttons-wrapper > .color-menu .sub-menu-container:after {
    clear: both;
}

.buttons-wrapper > .color-menu > .color-menu { margin: 24px 0 0 -52px; }

.buttons-wrapper > .color-menu .sub-menu-container {
    > button {
        float: left;
        width: 21px;
        height: 21px;
        display: block;
        border: 2px solid #555;
        margin: 0 2px 0 0;
        background-color: #fff;
    }

    > button:hover { border: 2px solid #aaa; }
    > button#color-red { background-color: red; }
    > button#color-green { background-color: green; }
    > button#color-blue { background-color: blue; }
}

.editor-tools-container > li > .paragraph-menu {
    > button {
        border: 1px solid #aaa;
        display: block;
        margin-bottom: 2px;
    }

    > button:hover {
        color: #000;
        background-color: #ccc;
    }
}

/* Should be at the bottom to overwrite other styles */
.show-tools {
    visibility: visible;
    opacity: 1;
}

.buttons-wrapper .color-menu.show-menu {
    margin-top: 0;
}