.resize-img {
    width: 30px;
    height: 30px;
    position: absolute;
}

/* Field with media */
.media-container {
    position: relative;
    margin: 4px;
    // @include transition(width, .15s, ease-out);

    .media-options {
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @include transition(opacity, .15s, ease-out);

        > button {
            color: #F3FFE2;
            border: 1px solid #F3FFE2;
            border-radius: 3px;
            margin: 2px;
            margin-right: 0;
            padding: 2px 6px;
            font-size: .65em;
            background: none;
        }
        > button:hover {
            text-decoration: underline;
        }
    }

    img {
        width: 100%;
        display: block;
    }
}

@import "no-touch/media-container";
@import "touch/media-container";