/* Core variables */
$main_color: #00aeff;

.ne-resize {
    cursor: ne-resize !important;
}
.nw-resize {
    cursor: nw-resize !important;
}

/* Plus (+) button core style */
.add-btn {
    color: $main_color;
    display: block;
    margin: 0 auto;
    padding-left: 0;
    font-size: 1.2em;
    height: 16px;
    width: 14px;
    line-height: 0;
    visibility: hidden;
    position: relative;
    background-color: #fff;
}
.add-btn:hover {
    color: #008aca;
}

.resize-img {
    /*background-color: cyan;*/
    width: 30px;
    height: 30px;
    position: absolute;
}

input::-moz-focus-inner { 
    border: 0; 
    padding: 0; 
    margin-top:-2px; 
    margin-bottom: -2px; 
}

/* Main holder of whole set */
.text-area-holder {
    font-size: 1em;
    margin: -16px 0 0 0;
    height: 100%;

    .placeholder {
        color: #bbb;
        position: absolute;
        margin: 4px 0;
        z-index: -999;
        display: none;
        // float: left;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .placeholder.show {
        display: block;
    }
    
    /* Set defaults for all buttons */
    button {
        border: none;
        outline: none;
    }

    .editor-content-wrapper {
        display: block;
        outline: none;
        border: 1px solid rgba(0,0,0,0);
        height: 100%;
        width: 100%;
        padding: 4px;
        margin: 0;

        /* Main field with content */
        .text-editor-content {
            white-space: normal;
            word-wrap: break-word;
            display: block;
            outline: none;
            margin: 4px 0;
            border-bottom: none;
            min-height: 1.2em;
        }

        /* Field with media */
        .media-container {
            position: relative;
            margin: 4px;
            // @include transition(width, .15s, ease-out);

            .media-options {
                background-color: rgba(0, 0, 0, 0);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;

                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                @include transition(opacity, .15s, ease-out);

                > button {
                    color: #F3FFE2;
                    border: 1px solid #F3FFE2;
                    border-radius: 3px;
                    margin: 2px;
                    margin-right: 0;
                    padding: 2px 6px;
                    font-size: .65em;
                    background: none;
                }
                > button:hover {
                    text-decoration: underline;
                }

                .resize-img-left-bot {
                    @extend .resize-img;
                    bottom: 0;
                    left: 0;
                    margin: 0 0 -5px -5px;
                    cursor: ne-resize;
                }
                .resize-img-right-bot {
                    @extend .resize-img;
                    bottom: 0;
                    right: 0;
                    margin: 0 -5px -5px 0;
                    cursor: nw-resize;
                }
            }

            img {
                width: 100%;
                display: block;
            }
        }

        .media-container:hover {
            .media-options {
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    } /* /.editor-content-wrapper */

    .editor-content-wrapper:before,
    .editor-content-wrapper:after {
        content: "";
        display: table;
    }
    .editor-content-wrapper:after {
        clear: both;
    }

    .text-editor-textarea {
        display: none;
        width: 100%;
        height: 250px;
    }

    /* Style for plus on the top */
    button.add-above {
        border: none;
        margin-bottom: 5px;
    }

    /* Container with options for current section */
    .section-options {
        display: block;
        position: relative;
        visibility: hidden;
        top: 0;
        margin-top: 0;
        
        /* Additional holder for core buttons */
        .core-options-holder {
            display: inline-block;
            border: 1px solid $main_color;
            border-top: none;
            border-right: none;
            
            /* Style for "Remove" "Move Up" "Move Down" buttons */
            button {
                color: $main_color;
                background-color: #fff;
                font-size: 1em;
                margin: 0;
                padding: 0 6px;
                height: 20px;
                width: 29px;
                line-height: 20px;
                display: block;
                float: left;
                border-right: 1px solid $main_color;
            }

            button:hover {
                color: darken($main_color, 25);
            }

            .align-media-choice {
                position: absolute;
                display: none;
                padding: 0;
                margin: -22px 0 0 -44px;
                border-top: 1px solid $main_color;
                border-left: 1px solid $main_color;
                background-color: #fff;
            }
            .align-media-choice.show {
                display: inline-block;
            }
        }

        /* Style for plus on the bottom */
        > button.add-below {
            border: none;
            margin-top: -24px;
        }
    }
}

.hover, .text-area-holder:hover {
    /* Show border when on hover */
    .editor-content-wrapper {
        border: 1px solid $main_color;
    }
    
    /* Show option buttons when on hover */
    .section-options {
        visibility: visible;
    }
    
    /* Show plus(+) buttons when on hover */
    .add-btn {
        visibility: visible;
    }
}

/* Add New Section */
.add-new-section-menu {
    border: 1px solid #bbb;
    background-color: #eee;
    display: block;
    position: relative;
    text-align: center;
    margin: 10px auto 20px auto;
    padding: 0;
    /*height: 0;*/
    max-height: 0px;
    width: 100%;
    @include border-radius(2px);
    overflow: hidden;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    @include transform(scaleY(0));
    -webkit-transition: max-height .2s ease-out, -webkit-transform .15s ease-out;
       -moz-transition: max-height .2s ease-out, -moz-transition .15s ease-out;
         -o-transition: max-height .2s ease-out, -o-transition .15s ease-out;
            transition: max-height .2s ease-out, -webkit-transform .15s ease-out;

    button {
        /*outline: none;*/
        margin: 14px 8px 14px 0;
        padding: 5px;
        border: 1px solid darken($main_color, 10);
        background-color: $main_color;
        color: #fff;
        @include border-radius(3px);

        .icon {
            font-size: 2em;
            line-height: .5em;
        }

        .lbl {
            font-size: .9em;
            margin-top: 5px;
        }
    }
    button:hover {
        background-color: darken($main_color, 10);
        border: 1px solid darken($main_color, 20);
    }

    button#close-add-section-menu {
        position: absolute;
        top: 0;
        right: 0;
        font-size: .8em;
        background-color: transparent;
        color: #aaa;
        border: 1px solid #aaa;
        padding: 1px 4px;
        margin: 5px;
    }
    button#close-add-section-menu:hover {
        color: #777;
        border-color: #777;
    }
}
.add-new-section-menu.show {
    /*height: auto;*/
    max-height: 80px;
    @include transform(scaleY(1));
    /*@include transition(all, .15s, ease-out);*/
}

@import "no-touch/text-area";
@import "touch/text-area";

@media screen and (max-width: 318px) {
    .text-area-holder {
        /* Container with options for current section */
        .section-options {
            /* Style for plus on the bottom */
            > button.add-below {
                margin-right: 25%;
            }
        }
    }
}

@media screen and (max-width: 238px) {
    .text-area-holder {
        /* Container with options for current section */
        .section-options {
            /* Style for plus on the bottom */
            > button.add-below {
                margin-right: 10%;
            }
        }
    }
}