// Main toolbar styles
.toolbar {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
    z-index: $zEditingTools;

    // Container that holds all the buttons
    .button-container {
        position: relative;
        width: 100%;
    }
    
    // Arrow that indicates position of selection
    .arrow-pointer {
        position: relative;
        display: block;
        margin-left: 0px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;
    }

    // Same arrow but reversed
    .arrow-pointer-bottom {
        border-bottom: none;
        border-top: 5px solid black;
    }
}

@import "no-touch/toolbar";
@import "touch/toolbar";

/* Should be at the bottom to overwrite other styles */
.show-tools {
    visibility: visible;
    opacity: 1;
}