.arrow-pointer {
    /*display: none;*/
}

.editor-tools-wrapper {
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: cyan;*/

    > .buttons-wrapper {
        height: 41px;
        overflow: hidden;
        
        > .editor-tools-container-wrapper {
            margin-top: 0px;
            transition: margin .15s ease-in-out;
            -moz-transition: margin .15s ease-in-out;
            -webkit-transition: margin .15s ease-in-out;
            position: relative;
            width: 100%;
            height: 100%;
            overflow: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;

            > .editor-tools-container {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 787px;                

                > li {
                    float: none;
                    white-space: nowrap;
                    display: inline;

                    > button {
                        padding: 10px 30px;
                    }
                }
            }
        }
        > .editor-tools-container-wrapper.hide-main-menu {
            margin-top: -41px;
            transition: margin .15s ease-in-out;
            -moz-transition: margin .15s ease-in-out;
            -webkit-transition: margin .15s ease-in-out;
        }

    }

}

.buttons-wrapper > .color-menu,
.buttons-wrapper > .paragraph-menu {
    /*position: fixed;*/
    left: 0;
    height: 41px;
    width: 100%;
}

.buttons-wrapper > .color-menu > .sub-menu-holder {
    position: relative;
    width: 84%;
    /*height: 41px;*/
    overflow: auto;
    overflow-y: hidden;
    display: inline-block;
}
.buttons-wrapper > .color-menu .sub-menu-container {
    width: 600px;
}

.buttons-wrapper > .color-menu,
.buttons-wrapper > .paragraph-menu {
    
    > button.back-to-main {
        position: relative;
        font-size: .7em;
        float: left;
        display: inline-block;
        height: 31px;
        width: 15%;
        border: 1px solid #555;
        margin: 0 2px 0 0;
    }
}
.buttons-wrapper > .color-menu .sub-menu-container {
    > button {
        /*float: left;*/
        width: 27px;
        height: 27px;
        display: inline-block;
        border: 2px solid #555;
        margin: 0 2px 0 0;
    }
    > button:hover { border: 2px solid #aaa; }
}

/*.editor-tools-container > li > .color-menu { margin: -44px 0 0 0; }*/
/*.editor-tools-container > li > .paragraph-menu { margin: 24px 0 0 -88px; }*/