.no-touch {
    .text-area-holder.hover, .text-area-holder:hover {
        /* Show border when on hover */
        .editor-content-wrapper {
            border: 1px solid $main_color;
        }
        
        /* Show option buttons when on hover */
        .section-options {
            visibility: visible;
        }
        
        /* Show plus(+) buttons when on hover */
        .add-btn {
            visibility: visible;
        }
    }
}